<h2>Por Región</h2>
<hr>
<div class="row">
  <div class="col text-center">
    <!-- busquedas-->

   <button

   *ngFor="let region of regions"
   class="btn mx-2"

   [ngClass]="{'btn-outline-primary': selectedRegion === region}"
   (click)="searchByRegion(region)">{{region}}</button>

  </div>
</div>

<div class="row">
  <div class="col">
<!-- tabla de resultados-->
<hr>

   <country-table [countriesTable]="countriesByRegion"> </country-table>
<!-- <ul>
  <li *ngFor="let countri of countriesByCapital" > {{countri.capital}} </li>
</ul> -->
  </div>
</div>
